body {
    font-family: 'Poppins', sans-serif;
}

.bg-primary{
    background: #6209DB !important; /*---le da prioridad sobre estilo de bootstrap---*/
}

small {
    color:#6209DB;
}

.text-primary {
    color:#6209DB;
}

#hero {
    height: 700px;
}

.btn-primary{
    background: #6209DB !important; 
    border: solid #6209DB 1px;
    padding: 1em;
}

.navbar-nav li {
    padding: 0 20px;

}

.content {
    max-width: 500px;

}

@media (max-width:992px) { 
.navbar {
    position: relative !important;
}
}

.paragraph {
    padding: 2px
}

.main-form {
    width: 450px;
    margin: auto;
    margin-top: 5em;
}

.my-small-btn {
    width: 80px;
    padding:5px;

}

.comment-box {
    text-align: left;
    margin-top: 0px;
    padding-top: 2px;
}